@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth !important;
  }
.nav-links {
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;
}

.Logo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.nav-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #ffffff !important;
    text-decoration: none;
    cursor: pointer;
}

.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}